<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimalista - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="~/css/components.css">
    <link rel="stylesheet" href="~/css/icons.css">
    <link rel="stylesheet" href="~/css/responsee.css">
    <link rel="stylesheet" href="~/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="~/css/lightcase.css">
    <link rel="stylesheet" href="~/css/contact.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <!-- Favicons -->
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/img/altc-logo2.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Favicons -->
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/img/altc-logo2.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="~/css/template-style.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
</head>

<body class="size-1140">
    <!-- PREMIUM FEATURES BUTTON -->
    <div id="page-wrapper">
        <!-- HEADER -->
        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">
            <!-- Top Navigation -->
            <nav class="background-transparent background-transparent-hightlight full-width sticky" style="display: flex;align-items: center;">
                <div class="s-12 l-2">
                    <a href="" class="logo">
                        <!-- Logo version before sticky nav -->
                        <img class="logo-before" style="width:141px;" src="img/altc-logo2.png" alt="">
                        <!-- Logo version after sticky nav -->
                        <img class="logo-after" style="width:141px; margin-top:20px;" src="img/altc-logo2.png" alt="">
                    </a>
                </div>
                <div class="s-12 l-10">
                    <div class="top-nav right">

                        <ul class="right chevron">
                            <li><a style=" color:red" class="nav-link scrollto" asp-area="Admin" asp-controller="Home" asp-action="">Dashboard</a></li>
                            <li><a asp-action="index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="index" asp-controller="About">About Us</a></li>
                            <li><a  asp-controller="Contact" asp-action="index">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
        <!-- FOOTER -->
        <footer>
            <!-- Contact Us -->
            <div class="background-dark padding text-center footer-social">
                <a class="margin-right-10" target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">FACEBOOK</span></a>
                <a class="margin-right-10" target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">TWITTER</span></a>
                <a class="margin-right-10" target="_blank" href="https://www.instagram.com"><i class="icon-instagram_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">INSTAGRAM</span></a>
                <a target="_blank" href="https://www.linkedin.com"><i class="icon-linked_in_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">LINKEDIN</span></a>
            </div>

            <!-- Main Footer -->
            <section class="section-small-padding text-center background-dark full-width">
                <div class="line">
                    <div class="margin">
                        <!-- Collumn 1 -->
                        <div class="s-12 m-12 l-4 margin-m-bottom-30">
                            <h3 class="text-size-16">Company Address</h3>
                            <p class="text-size-14">
                                Responsive Street 7<br>
                                London - United Kingdom<br>
                                Europe
                            </p>
                        </div>
                        <!-- Collumn 2 -->
                        <div class="s-12 m-12 l-4 margin-m-bottom-30">
                            <h3 class="text-size-16">E-mail</h3>
                            <p class="text-size-14">
                                contact@sampledomain.com<br>
                                office@sampledomain.com
                            </p>
                        </div>
                        <!-- Collumn 3 -->
                        <div class="s-12 m-12 l-4 ">
                            <h3 class="text-size-16">Phone Numbers</h3>
                            <p class="text-size-14">
                                0800 4521 800 50<br>
                                0450 5896 625 16<br>
                                0798 6546 465 15
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.80);">

            <!-- Bottom Footer -->
            <section class="padding background-dark full-width">
                <div class="text-center">
                    <p class="text-size-12">Copyright 2023, Vision Design - graphic zoo</p>
                    <p class="text-size-12">All images is purchased from Bigstock. Do not use the images in your website.</p>
                </div>
            </section>
        </footer>
    </div>
    <script type="text/javascript" src="~/js/responsee.js"></script>
    <script type="text/javascript" src="~/js/contact.js"></script>

    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script type="text/javascript" src="~/js/jquery.events.touch.js"></script>
    <script type="text/javascript" src="~/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/template-scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


