<section id="contact" class="contact" style="margin-top:70px;">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h3><span>Contact Us</span></h3>
			<p>
				LET'S WORK TOGETHER
				We Love to Listen to Your Requirements.
			</p>
		</div>


	

	</div>
</section><!-- End Contact Section -->
<main role="main">
    <!-- Content -->
    <article >
       
   <div class="container">


		<div class="tab-wrap">
		
			<input type="radio" id="tab4" name="tabGroup2" class="tab" checked>
				<label class="" for="tab4">Request a Quote</label>

			<input type="radio" id="tab5" name="tabGroup2" class="tab">
			<label for="tab5">Technical Support</label>

			<input type="radio" id="tab6" name="tabGroup2" class="tab">
			<label for="tab6">Complains</label>
			
			<input type="radio" id="tab7" name="tabGroup2" class="tab">
			<label for="tab7">Job Candidate</label>

			<div class="tab__content">
				<div class="form-wrapper " id="form1" class="hidden">
					@* <h2 >Request a Quote</h2> *@
				<form>
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for="exampleInputName">Name</label>
										<input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
									</div>
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for "exampleInputEmail1">Email address</label>
										<input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
									</div>
								</div>
							</div>

					<div class="form-group">
						<label for="exampleInputPhone">Phone</label>
						<input type="Phone" name="Phone" class="form-control" id="Phone" placeholder="Phone">
					</div>
					<div class="form-group">
						<label for="exampleInputPhone">Services</label>
						<input type="text" name="Services" class="form-control" id="Services" placeholder="Phone">
					</div>
					<div class="form-group">
						<label for="exampleInputDetails">Details Request</label>
								<textarea style="outline: none !important;border-color: none !important;" class="form-control" name="Details" id="Details" rows="4" placeholder="Details Request"></textarea>
					</div>
		 
				   @*  <div class="form-group">
						<label for="exampleInputFile">File Upload</label>
						<div class="file-input-container">
							<label class="file-input-button" for="fileInput">Choose File</label>
							<input type="file" class="file-input-hidden" id="fileInput">
						</div>
					</div> *@
		 
					<button id="margin" type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			</div>

			<div class="tab__content">
				<div class="form-wrapper" id="form2" class="hidden">
					@* <h2>Technical Support</h2> *@
					<form asp-action="Create" asp-controller="TechnicalSupport" method="post" >
				
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for="exampleInputName">Name</label>
										<input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
									</div>
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for "exampleInputEmail1">Email address</label>
										<input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
									</div>
								</div>
							</div>

						<div class="form-group">
							<label for="exampleInputPhone">Phone</label>
							<input type="Phone" name="Phone" class="form-control" id="Phone" placeholder="Phone">
						</div>
						<div class="form-group">
							<label for="exampleInputPhone">Services</label>
								<input type="text" name="Services" class="form-control" id="Services" placeholder="Services">
						</div>
						<div class="form-group">
							<label for="exampleInputDetails">Details Request</label>
							<textarea class="form-control" name="Details" id="Details" rows="4" placeholder="Details Request"></textarea>
						</div>
			   
						@*  <div class="form-group">
						<label for="exampleInputFile">File Upload</label>
						<div class="file-input-container">
						<label class="file-input-button" for="fileInput">Choose File</label>
						<input type="file" class="file-input-hidden" id="fileInput">
						</div>
						</div> *@
			   
						<button id="margin" type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>

			<div class="tab__content">
				<div class="form-wrapper" id="form3" class="hidden">
					@* <h2>Complain</h2> *@
					<form>
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for="exampleInputName">Name</label>
										<input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
									</div>
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for "exampleInputEmail1">Email address</label>
										<input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
									</div>
								</div>
							</div>

						<div class="form-group">
							<label for="exampleInputPhone">Phone</label>
							<input type="Phone" class="form-control" id="exampleInputPhone" placeholder="Phone">
						</div>
						<div class="form-group">
							<label for="exampleInputDetails">Details Of Complain</label>
							<textarea class="form-control" id="exampleInputDetails" rows="4" placeholder="Details of Complain"></textarea>
						</div>
			   
						<button id="margin" type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				
			</div>
			
			<div class="tab__content">
				<div class="form-wrapper" id="form4" class="hidden">
					@* <h2>Job Candidate</h2> *@
						<form asp-action="Create" asp-controller="JobCandidate" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for="exampleInputName">Name</label>
										<input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
									</div>
									<div class="col-12 col-md-6">
										<!-- On small screens (sm and down), use 100% column width; on medium and larger screens (md and up), use 50% column width -->
										<label for "exampleInputEmail1">Email address</label>
										<input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
									</div>
								</div>
							</div>

						<div class="form-group">
							<label for="exampleInputPhone">Phone</label>
							<input type="Phone" name="Phone" class="form-control" id="Phone" placeholder="Phone">
						</div>
						<div class="form-group">
							<label for="exampleInputDetails">JobTitile</label>
								<input class="form-control" name="JobTitile" id="JobTitile" rows="4" placeholder="JobTitile">
						</div>
						<div class="form-group">
							<label for="exampleInputPhone">Message</label>
							<input type="text" name="Message" class="form-control" id="Message" placeholder="Message">
						</div>

							<div class="form-group">
								<input type="file" name="File" class="form-control" id="File" >

							</div>
			   
						@*  <div class="form-group">
						<label for="exampleInputFile">File Upload</label>
						<div class="file-input-container">
						<label class="file-input-button" for="fileInput">Choose File</label>
						<input type="file" class="file-input-hidden" id="fileInput">
						</div>
						</div> *@
			   
						<button id="margin" type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
				
	</div>
		

    </article>
</main>

<!-- FOOTER -->
<div id="space">
</div>
<div style="margin:100px;"></div>
