@model ALTC_Website.ViewModels.RequestVM

@{
    ViewData["Title"] = "Create";
    var lang = ViewBag.lang;
    var dir = ViewBag.dir;
}

<style>
     

      #file-input {
        display: none;
      }

      .file-input-label {
        font-size: 1em;
        padding: 7px 15px;
        margin-botton:10px;
        border: 1px solid #DEE2E6;
        border-radius: 6%;
      }
    </style>


@if (lang == "Ar"||lang=="ar")
{
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-12 col-md-6">
                    <label style=" display: flex !important ; justify-content: end;" dir="rtl asp-for="Name" class="control-label">الاسم</label>
                    <input asp-for="Name" class="form-control"  required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6">
                    <label style=" display: flex !important ; justify-content: end;;" dir="rtl asp-for="Phone" class="control-label">رقم الهاتف</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input type="hidden" name="lang" value="@ViewData["lang"]" />
        <input type="hidden" name="dir" value="@ViewData["dir"]" />

        <div class="form-group">
            <label style=" display: flex !important ; justify-content: end;;" dir="rtl asp-for="Email" class="control-label">البريد الالكتروني</label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  style=" display: flex !important ; justify-content: end;">اختار الملف</label>
            <label asp-for="File" class="text-right file-input-label" dir="rtl">تحميل </label>
            <input style="visibility:hidden" palceholder="اختار الملف" dir="rtl" asp-for="File" class="form-control" required />

            <span  dir="rtl" asp-validation-for="File" class="text-danger"></span>
        </div>
        <div style="margin-top:10px;" class="form-group">
            <label  dir="rtl" style=" display: flex !important : justify-content: end;;" asp-for="Details" class="control-label">اترك رسالتك</label>
            <textarea asp-for="Details" style="outline: none !important;border-color: none !important;" class="form-control" rows="4" pattern="[\u0600-\u06FF\s]+([\u0600-\u06FF\s]+){1,}"></textarea>
        </div>

        <button id="margin" type="submit" class="btn btn-primary">إرسال</button>
    </form>

}
else
{
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-12 col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"  />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input type="hidden" name="lang" value="@ViewData["lang"]" />
        <input type="hidden" name="dir" value="@ViewData["dir"]" />

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  asp-for="File" class="control-label"></label>
            <input asp-for="File" class="form-control" accept=".rar, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" required />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
        <div  class="form-group">
            <label  asp-for="Details" class="control-label"></label>
            <textarea  asp-for="Details" style="outline: none !important;border-color: none !important;" class="form-control" rows="4"></textarea>
        </div>

        <button id="margin" type="submit" class="btn btn-primary">submit</button>
    </form>
}




@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
@* <partial name="_ValidationScriptsPartial" />
 *@@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
