@model ALTC_WebSite.Models.StaticData

@{
    ViewData["Title"] = "Create";
}

<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/xcdiczdgw2r5psne62nyqzzmwjwgj1jcs6kmyole4y2torkb/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
</script>
<h1>Create</h1>

<h4>StaticData</h4>
<hr />

<div class="row" style="margin-left:30px">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="StaticData" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*   <div class="form-group">
            <label asp-for="id" class="control-label"></label>
            <input asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="text-danger"></span>
            </div> *@
            <div class="" style="width: 1113px;">
                <label asp-for="aboutus"></label>
                <textarea asp-for="aboutus" id="tiny" class="" style="width: 100%; height: 500px;"></textarea>
                <span asp-validation-for="aboutus" class="text-danger"></span>
            </div>
            <div class="" >
                <label asp-for="lang"></label>
                <input asp-for="lang" id="tiny" class="" ></input>
                <span asp-validation-for="lang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div id="test">
</div>


<script src="~/Admin/ckeditor.js"></script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
