
.arabic-form-content label {
    display: flex !important;
}
.arabic-form-content .tab-label {
    justify-content:center!important;
}

.tab-wrap label {
    /*text-align: center !important;*/
   
}

.tabs label  {
    /* justify-content: center !important;*/
}

    @media (min-width: 1000px) {
        .tab-wrap {
            width: 60% !important;
            margin: 0 auto;
        }
        /*@media (min-width: 768px) {
    .tab-wrap {
        width: 80% !important;
    }
}*/
        /*@media (max-width: 768px) {
    .tab-wrap {
        width: 90% ;
    }
}*/

        /* 
@media (min-width: 1200px) {
    .tab-wrap {
        width: 70% !important;
    }
}*/

        @media (max-width: 900px) {
            .tab-wrap {
                display: flex;
            }
        }        