html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none !important;
    border: none !important;
}

.tab-wrap {
    margin: 0 auto;
    /*width: 50% !important;*/
}
/*
@media (min-width: 768px) {
    .tab-wrap {
        width: 80% !important;
    }
}
@media (max-width: 768px) {
    .tab-wrap {
        width: 90% !important;
    }
}

       
@media (min-width: 1200px) {
    .tab-wrap {
        width: 70% !important;
    }
}*/


/*media*/

